html {
  font: 24px/1.1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  font: 18px/1.333333333 "Helvetica Neue", Helvetica, Arial, sans-serif;
  font: 14px/1.428571429 "Helvetica Neue", Helvetica, Arial, sans-serif;
  font: 12px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  font: 10px/2 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
